.Home {
    color: black;
}

.Gecko {
    color: red;
}

.GeckoCodes {
    margin-left: 50px;
    margin-top: -18px;
}

.GCT {
    color: blue;
}

.GCTCreator {
    margin-left: 150px;
    margin-top: -18px;
}

.MainFrame {
    width: 800px;
    float: left;
    padding: 0px;
    padding-bottom: 10px;
    display: inline;
    font-size: 10pt;
    margin: 0px;
    margin-left: 200px;
    margin-bottom: 10px;
    margin-top: 20px;
    border-width: 3px;
    border-style: solid;
    border-color: #19b0e9;
    background: #FFFFFF;
    color: #000000;
    min-height: 125px;
}

.Title {
    display: block;
    width: 800px;
    font-family: sans-serif;
    text-align: center;
    padding: 0px;
    padding-top: 7px;
    padding-bottom: 7px;
    margin: 0px;
    margin-bottom: 10px;
    color: #FFFFFF;
    background: #19b0e9;
    font-size: 14pt;
    font-weight: bold;
    overflow: hidden;
    height: 25px;
}

.MainTitleText {
    margin-top: -53px;
    margin-left: 250px;
    font-size: 13px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.WiiSportsNTSCSub {
    width: 780px;
    border-width: 4px;
    border-color: #19b0e9;
    border-top-style: none;
    border-left-style: solid;
    border-right-style: none;
    border-bottom-style: none;
    color: #FFFFFF;
    background: #19b0e9;
    font-size: 11pt;
    font-weight: bolder;
    font-family: sans-serif;
    margin-left: 7px;
}

.CodeTitle {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 7px;
    margin-left: 20px;
}

.Code {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    margin-top: -10px;
    margin-left: 20px;
}

.Caution {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 35px;
    margin-top: -15px;
}

.GraySquare {
    width: 800px;
    height: 70px;
    background-color: #E8E8E8;
    margin-top: -10px;
}

.Warning {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.MainPage {
    color: blue;
}

.Username {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: red;
}

.WiiSportsPALSub {
    width: 780px;
    border-width: 4px;
    border-color: #19b0e9;
    border-top-style: none;
    border-left-style: solid;
    border-right-style: none;
    border-bottom-style: none;
    color: #FFFFFF;
    background: #19b0e9;
    font-size: 11pt;
    font-weight: bolder;
    font-family: sans-serif;
    margin-left: 7px;
    margin-top: 30px;
}

.WiiPlayNTSCSub {
    width: 780px;
    border-width: 4px;
    border-color: #19b0e9;
    border-top-style: none;
    border-left-style: solid;
    border-right-style: none;
    border-bottom-style: none;
    color: #FFFFFF;
    background: #19b0e9;
    font-size: 11pt;
    font-weight: bolder;
    font-family: sans-serif;
    margin-left: 7px;
    margin-top: 30px;
}

.WSRNTSCSub {
    width: 780px;
    border-width: 4px;
    border-color: #19b0e9;
    border-top-style: none;
    border-left-style: solid;
    border-right-style: none;
    border-bottom-style: none;
    color: #FFFFFF;
    background: #19b0e9;
    font-size: 11pt;
    font-weight: bolder;
    font-family: sans-serif;
    margin-left: 7px;
    margin-top: 30px;
}

.WSRPALSub {
    width: 780px;
    border-width: 4px;
    border-color: #19b0e9;
    border-top-style: none;
    border-left-style: solid;
    border-right-style: none;
    border-bottom-style: none;
    color: #FFFFFF;
    background: #19b0e9;
    font-size: 11pt;
    font-weight: bolder;
    font-family: sans-serif;  
    margin-left: 4px;  
    margin-top: 30px;
}

.WSRRFSub {
    width: 780px;
    border-width: 4px;
    border-color: #19b0e9;
    border-top-style: none;
    border-left-style: solid;
    border-right-style: none;
    border-bottom-style: none;
    color: #FFFFFF;
    background: #19b0e9;
    font-size: 11pt;
    font-weight: bolder;
    font-family: sans-serif;
    margin-left: 4px;
    margin-top: 30px;
}

.Creator {
    color: blue;
    text-decoration: none;
}

.WPRFSub {
    width: 780px;
    border-width: 4px;
    border-color: #19b0e9;
    border-top-style: none;
    border-left-style: solid;
    border-right-style: none;
    border-bottom-style: none;
    color: #FFFFFF;
    background: #19b0e9;
    font-size: 11pt;
    font-weight: bolder;
    font-family: sans-serif;
    margin-left: 4px;
    margin-top: 30px;
}
