body {
    cursor: url('cursor/wii-pointer-ccw.cur'),auto;
    background-color: var(--base-color);
}

.Home {
    color: var(--text-color);
}

.Gecko {
    color: red;
}

.GeckoCodes {
    margin-left: 50px;
    margin-top: -18px;
}

.GCT {
    color: blue;
}

.GCTCreator {
    margin-left: 150px;
    margin-top: -18px;
}

.Unused {
    color: purple;
}

.UnusedContent {
    margin-left: 250px;
    margin-top: -18px;
}

:root {
    --base-color: white;
    --text-color: black;
    --theme-button: black;
    --IdkWhatToNameThis: gray;
    --gray-square: #E8E8E8;
}

.darkmode {
    --base-color: rgb(17, 17, 17);
   --gray-square: #60606060;
    --text-color: rgb(255, 255, 255);
    --theme-button: white;
}

#theme-switch {
    width: 50px;
    height: 50px;
    margin-top: -25px;
    margin-left: 1190px;
    background-color: var(--theme-button);
    padding: 0;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
}

#theme-switch svg {
    fill: var(--IdkWhatToNameThis);
    width: 24px;
    height: 24px;
}

#theme-switch svg:last-child {
    display: none;
}

.darkmode #theme-switch svg:first-child {
    display: none;
}

.darkmode #theme-switch svg:last-child {
    display: block;
}

.MainFrame {
    width: 800px;
    float: left;
    padding: 0px;
    padding-bottom: 10px;
    display: inline;
    font-size: 10pt;
    margin: 0px;
    margin-left: 200px;
    margin-bottom: 10px;
    margin-top: 20px;
    border-width: 3px;
    border-style: solid;
    border-color: #19b0e9;
    background-color: var(--base-color);
    color: #000000;
    min-height: 125px;
}

.Title {
    display: block;
    width: 800px;
    font-family: sans-serif;
    text-align: center;
    padding: 0px;
    padding-top: 7px;
    padding-bottom: 7px;
    margin: 0px;
    margin-bottom: 10px;
    color: #FFFFFF;
    background: #19b0e9;
    font-size: 14pt;
    font-weight: bold;
    overflow: hidden;
    height: 25px;
}

.MainTitleText {
    margin-top: -53px;
    margin-left: 250px;
    font-size: 13px;
    color: var(--text-color);
    font-family: sans-serif;
}

.NewSub {
    width: 780px;
    border-width: 4px;
    border-color: #19b0e9;
    border-top-style: none;
    border-left-style: solid;
    border-right-style: none;
    border-bottom-style: none;
    color: #FFFFFF;
    background: #19b0e9;
    font-size: 11pt;
    font-weight: bolder;
    font-family: sans-serif;
    margin-left: 7px;
    margin-top: 10px;
}

.CodeTitle {
    font-family: sans-serif;
    font-size: 7px;
    margin-left: 20px;
    color: var(--text-color);
}

.Code {
    font-family: monospace;
    font-size: 13px;
    margin-top: -10px;
    margin-left: 20px;
    color: var(--text-color);
}

.Caution {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 25px;
    margin-top: -15px;
    color: var(--text-color);
}

.GraySquare {
    width: 800px;
    height: 70px;
    background-color: var(--gray-square);
    margin-top: -10px;
}

.Warning {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--text-color);
}

.MainPage {
    color: blue;
}

.Username {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: red;
}

.Creator {
    color: #0000CC;
    text-decoration: none;
}
