body {
    cursor: url('cursor/wii-pointer-ccw.cur'),auto;
    background-color: var(--base-color);
}

.Home {
    color: var(--text-color);
}

.Gecko {
    color: red;
}

.GeckoCodes {
    margin-left: 50px;
    margin-top: -18px;
}

.GCT {
    color: blue;
}

.GCTCreator {
    margin-left: 150px;
    margin-top: -18px;
}

.Unused {
    color: purple;
}

.UnusedContent {
    margin-left: 250px;
    margin-top: -18px;
}

.Guides {
    color: green;
}

.GuidesNShit {
    margin-left: 370px;
    margin-top: -18px;
}

:root {
    --base-color: white;
    --text-color: black;
    --theme-button: black;
    --IdkWhatToNameThis: gray;
}

.darkmode {
    --base-color: rgb(17, 17, 17);
    --header-color: red;
    --text-color: rgb(255, 255, 255);
    --theme-button: white;
    --IdkWhatToNameThis: gray;
}

#theme-switch {
    width: 50px;
    height: 50px;
    margin-top: -25px;
    margin-left: 1220px;
    background-color: var(--theme-button);
    padding: 0;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
}

#theme-switch svg {
    fill: var(--IdkWhatToNameThis);
    width: 24px;
    height: 24px;
}

#theme-switch svg:last-child {
    display: none;
}

.darkmode #theme-switch svg:first-child {
    display: none;
}

.darkmode #theme-switch svg:last-child {
    display: block;
}

.TableOfContents {
    width: 300px;
    float: left;
    padding: 0px;
    padding-bottom: 10px;
    display: inline;
    font-size: 10pt;
    margin: 0px;
    margin-bottom: 10px;
    margin-top: 20px;
    border-width: 3px;
    border-style: solid;
    border-color: green;
    background-color: var(--base-color);
    min-height: 125px;
}

.TOCTextTitle{
    color: var(--text-color);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.TOContents {   
    font-size: large;
}

.ButtonTut {
    color: red;
}

.TutorialTitle1 {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--text-color);
    margin-top: 590px;
}

.TutorialTitle {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--text-color);
    margin-top: 50px;
}

.TutorialText {
    color: var(--text-color);
    margin-top: 10px;
    max-width: 500px;
}

.IMGExample {
    max-width: 640px;
    max-height: 528px;
}

.DownloadButton {
    color: darkblue;
}