body {
   cursor: url('cursor/wii-pointer-ccw.cur'),auto;
}

#BackgroundIMG {
  width: 1290px;
  height: 720px;
  margin-top: -20px;
  margin-left: -20px;
}

#Button1 {
  margin-top: -665px;
  margin-left: 85px;
  width: 264px;
  height: 146px;
}

#Button2 {
  margin-top: -665px;
  margin-left: 355px;
  width: 264px;
  height: 146px;
}

#Button3 {
  margin-top: -665px;
  margin-left: 625px;
  width: 264px;
  height: 146px;
}

button {
  all: unset;
}

button:focus {
  outline: revert;
}
